{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="container">
  <div class="intro intro-small">
    <div class="container">
      <div class="row">
        <div class="col-12">
          <h1>{{ .Title }}</h1>
          <h4>{{ .Description }}</h4>
        </div>
      </div>
    </div>
  </div>
  <div class="row">
      <div class="content">
        {{.Content}}
      </div>
  </div>
</div>
{{ end }}