{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
        <h4>{{ .Description }}</h4>
      </div>
    </div>
    <hr class="mt-4 mb-0"/>
  </div>
</div>
<div class="container">
  {{ .Content }}
  <br>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-8 mb-6 mb-md-4">  
      <form>
        <div class="form-row">
          <div class="form-group col-md-6">
            <input 
              type="text" 
              class="form-control" 
              placeholder="Vorname *" 
              required 
              oninvalid="this.setCustomValidity('Bitte füllen Sie dieses Feld aus.')"
              oninput="this.setCustomValidity('')">
          </div>
          <div class="form-group col-md-6">
            <input 
              type="text"
              class="form-control"
              placeholder="Nachname *"
              required
              oninvalid="this.setCustomValidity('Bitte füllen Sie dieses Feld aus.')"
              oninput="this.setCustomValidity('')">
          </div>
        </div>
        <div class="form-group">
          <input 
            type="email"
            class="form-control"
            placeholder="E-Mail Adresse *"
            required
            oninvalid="this.setCustomValidity('Bitte füllen Sie dieses Feld aus.')"
            oninput="this.setCustomValidity('')">
        </div>
        <div class="form-group">
          <input type="text" class="form-control" placeholder="Adresse">
        </div>
        <div class="form-row">
          <div class="form-group col-md-4">
            <input type="text" class="form-control" placeholder="PLZ">
          </div>
          <div class="form-group col-md-8">
            <input type="text" class="form-control" placeholder="Ort">
          </div>
        </div>
        <div class="form-group">
          <input type="tel" class="form-control" placeholder="Telefon">
        </div>
        <div class="form-group">
          <textarea 
            class="form-control"
            placeholder="Nachricht *"
            rows="3"
            required
            oninvalid="this.setCustomValidity('Bitte hinterlassen Sie mir eine Nachricht.')"
            oninput="this.setCustomValidity('')"></textarea>
        </div>
        <div class="form-group">
          <div class="form-check mb-2">
            <input
              class="form-check-input"
              type="checkbox"
              id="privacy-check"
              required
              oninvalid="this.setCustomValidity('Bitte stimmen Sie der Speicherung Ihrer Daten zu.')"
              oninput="this.setCustomValidity('')">
            <label class="form-check-label" for="privacy-check">
              Ich habe die Datenschutzerklärung zur Kenntnis genommen. Ich stimme zu, dass meine Angaben zur Kontaktaufnahme und für Rückfragen gespeichert werden.
            </label>
          </div>
          <div class="form-group">
            <p><a href="{{ .Site.BaseURL }}privacy">Hier finden Sie unsere Datenschutzbestimmungen.</a></p>
            <p>Mit * markierte Felder sind Pflichtfelder.</p>
          </div>
        </div>
        <button type="submit" class="button">Anfrage senden</button>
      </form>
    </div>
  <div class="col-md-4">
    <p><strong>
      Mark Mustermann<br>
      Mediator
    </strong></p>
    <p>
      Musterstraße 12<br>
      1020 Wien<br>
      Österreich<br>
    </p>
    <p>
      +43 (0) 666 00 111 222<br>
      <a href="mailto:max.mustermann@mail.com">max.mustermann@mail.com</a>
    </p>
  </div>
  </div>
</div>

{{ end }}