{{ define "header_css" }}{{ end }}
{{ define "body_classes" }}page-contact{{ end }}
{{ define "header_classes" }}{{ end }}

{{ define "main" }}
<div class="intro intro-small">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <h1>{{ .Title }}</h1>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <form action="https://getform.io/f/889324b2-7502-4f42-b7ee-2ac5e6c77d57" method="POST">
    <input type="text" name="first-name" placeholder="Vorname *" required>
    <input type="text" name="last-name" placeholder="Nachname *" required><br />
    <input type="email" name="email" placeholder="E-Mail Adresse *" required>
    <input type="tel" name="phone" placeholder="Telefonnummer" ><br />
    <textarea type="text" name="message" placeholder="Nachricht *" required></textarea>
    <button type="submit">Send</button>
</form>
</div>
{{ end }}